body {
  margin: 0;
  font-family: 'CircularStd', sans-serif;
  font-size: 17px;
  line-height: 1.4;
}

#root {
  overflow-x: hidden;
}

a {
  color: #0017C6;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  opacity: .5;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

h1 {
  margin-bottom: 24px;
  font-size: 32px;
}

h4 {
  margin-bottom: 12px;
}

p {
  margin-top: 0;
  margin-bottom: 18px;
  opacity: .7;
}

p:last-child {
  margin-bottom: 0;
}

.image {
  margin-bottom: 18;
  width: 100%;
  border: 3px solid #104E8B;
}

.link-button {
  margin: 0;
  padding: 6px 16px;
  color: #FFFFFF;
  background-color: #0017C6;
  font: inherit;
  font-weight: 500;
  border: 1px solid #0017C6;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border-radius: 6;
  box-sizing: border-box;
  display: inline-block;
  outline-width: 0;
  cursor: pointer;
}

.link-button:hover {
  background-color: #001299;
  opacity: 1;
}
